{{/*
Breadcrumbs shortcode
使用例: {{< breadcrumbs >}}
*/}}
<nav class="breadcrumbs" aria-label="パンくずリスト">
  <ol class="inline">
    <li class="breadcrumbs-item">
      <a href="/" class="breadcrumbs-link">
        ホーム
      </a>
      <svg aria-hidden="true" class="mx-2 inline" fill="none" height="12" viewBox="0 0 12 12" width="12">
        <path d="M4.50078 1.2998L3.80078 1.9998L7.80078 5.9998L3.80078 9.9998L4.50078 10.6998L9.20078 5.9998L4.50078 1.2998Z" fill="currentColor"/>
      </svg>
    </li>
    <li class="breadcrumbs-item">
      <a href="/components/" class="breadcrumbs-link">
        コンポーネント
      </a>
      <svg aria-hidden="true" class="mx-2 inline" fill="none" height="12" viewBox="0 0 12 12" width="12">
        <path d="M4.50078 1.2998L3.80078 1.9998L7.80078 5.9998L3.80078 9.9998L4.50078 10.6998L9.20078 5.9998L4.50078 1.2998Z" fill="currentColor"/>
      </svg>
    </li>
    <li class="breadcrumbs-current" aria-current="page">
      テストページ
    </li>
  </ol>
</nav>
